@import "https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i";

html {
    height: 100%;
}

body {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.tsd-page-title {
    padding: 20px 0 20px 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

#tsd-search .results {
    z-index: 1;
}

.tsd-page-toolbar {
    z-index: inherit;
    position: static;
}

.tsd-panel {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

#mainwrapper {
    overflow: auto;
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 4rem);
}

.lead {
    font-size: 1rem;
    font-weight: 400;
}

.overview-link {
    width: 16px;
    height: 16px;
}

.overview-link svg {
    width: 16px;
    height: 16px;
    display: inline-block;
}

#nav-wrapper {
    min-height: 4rem;
    flex-shrink: 0;
    position: relative;
}

/********************************
*
* Extracted via collect-css.js
*
********************************/
#nav-wrapper {
    border-collapse: separate;
    border-spacing: 0px 0px;
    caption-side: top;
    color: rgb(34, 34, 34);
    cursor: auto;
    direction: ltr;
    empty-cells: show;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: 100%;
    font: 16px / 24px Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: normal;
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    list-style: outside none disc;
    orphans: 2;
    tab-size: 8;
    text-align: left;
    text-align-last: auto;
    text-decoration-color: rgb(34, 34, 34);
    text-indent: 0px;
    visibility: visible;
    white-space: normal;
    widows: 2;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
}
#nav-wrapper *,
#nav-wrapper ::before,
#nav-wrapper ::after {
    box-sizing: border-box;
}
#nav-wrapper article,
#nav-wrapper aside,
#nav-wrapper figcaption,
#nav-wrapper figure,
#nav-wrapper footer,
#nav-wrapper header,
#nav-wrapper hgroup,
#nav-wrapper main,
#nav-wrapper nav,
#nav-wrapper section {
    display: block;
}
#nav-wrapper .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
#nav-wrapper .navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
#nav-wrapper .flex-column {
    flex-direction: column !important;
}
@media (min-width: 768px) {
    #nav-wrapper .flex-md-row {
        flex-direction: row !important;
    }
}
#nav-wrapper .td-navbar {
    background: rgb(50, 65, 143);
    min-height: 4rem;
    margin: 0px;
    z-index: 32;
}
@media (min-width: 768px) {
    #nav-wrapper .td-navbar {
        position: fixed;
        top: 0px;
        width: 100%;
    }
}
#nav-wrapper a {
    color: rgb(145, 173, 255);
    text-decoration: none;
    background-color: transparent;
}
#nav-wrapper .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
#nav-wrapper .navbar-dark .navbar-brand {
    color: rgb(255, 255, 255);
}
#nav-wrapper .td-navbar .navbar-brand {
    text-transform: none;
}
#nav-wrapper svg {
    overflow: hidden;
    vertical-align: middle;
}
#nav-wrapper .td-navbar .navbar-brand svg {
    display: inline-block;
    margin: 0px 10px 0px 5px;
    height: 30px;
    padding-top: 4px;
}
#nav-wrapper .text-uppercase {
    text-transform: uppercase !important;
}
#nav-wrapper .font-weight-bold {
    font-weight: 700 !important;
}
@media (min-width: 768px) {
    #nav-wrapper .ml-md-auto,
    #nav-wrapper .mx-md-auto {
        margin-left: auto !important;
    }
}
#nav-wrapper .td-navbar #main_navbar {
    margin-top: 5px;
}
#nav-wrapper ol,
#nav-wrapper ul,
#nav-wrapper dl {
    margin-top: 0px;
    margin-bottom: 1rem;
}
#nav-wrapper .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}
#nav-wrapper .navbar-expand .navbar-nav {
    flex-direction: row;
}
#nav-wrapper .mt-2,
#nav-wrapper .my-2 {
    margin-top: 0.5rem !important;
}
@media (min-width: 992px) {
    #nav-wrapper .mt-lg-0,
    #nav-wrapper .my-lg-0 {
        margin-top: 0px !important;
    }
}
#nav-wrapper .mb-2,
#nav-wrapper .my-2 {
    margin-bottom: 0.5rem !important;
}
#nav-wrapper .mr-4,
#nav-wrapper .mx-4 {
    margin-right: 1.5rem !important;
}
@media (min-width: 992px) {
    #nav-wrapper .mb-lg-0,
    #nav-wrapper .my-lg-0 {
        margin-bottom: 0px !important;
    }
}
#nav-wrapper .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
#nav-wrapper .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
}
#nav-wrapper .navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
#nav-wrapper .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}
#nav-wrapper .td-navbar .nav-link {
    text-transform: none;
    font-weight: 700;
}
#nav-wrapper .navbar-dark .navbar-nav .show > .nav-link,
#nav-wrapper .navbar-dark .navbar-nav .active > .nav-link,
#nav-wrapper .navbar-dark .navbar-nav .nav-link.show,
#nav-wrapper .navbar-dark .navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}
#nav-wrapper .d-none {
    display: none !important;
}
@media (min-width: 992px) {
    #nav-wrapper .d-lg-block {
        display: block !important;
    }
}
