/*
* Copyright © 2023. Cloud Software Group, Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

/*
* Fill out the available space.
*/
html, body {
    width: 100%;
    height:100%;
    margin:0px;
    overflow:hidden;
}

/*
* Let circles be semi transparent by default. That way circles will look
* darker for each level in the hierarchy (provided the analysis is using
* a light theme). 
*/
circle {
    fill: #333;
    opacity: 0.15;
    stroke: white;
}

text {
    font-weight: 600;
    paint-order: stroke;
    stroke: rgba(0, 0, 0, 0.35);
    stroke-width: 1px;
}

circle.hovered {
    stroke: #111;
    stroke-width: 2px;
    opacity: 0.25;
}