---
title: About Spotfire Mods
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Spotfire Mods by TIBCO LABS™" image_anchor="bottom" height="min" >}}

  <p class="lead mt-5">
    <b>The Spotfire mod API can be used to create Mod visualizations in Spotfire.</b>
  </p>
  <p class="lead mt-5">
    Mods are based on web technology and run in a sandboxed iframe. 
  </p>

{{< /blocks/cover >}}


{{% blocks/lead %}}
### More Details about this Initiative here [TIBCO LABS™ Spotfire Mods](https://community.tibco.com/wiki/) Wiki, on

<a href="https://community.tibco.com/wiki/"><img src="TIBCO-Community.svg" width="50%"></img></a>
{{% /blocks/lead %}}


{{< blocks/section color="white" >}}

<div class="row mx-md-n5">
  <div class="col py-5 px-md-5  col-example">
    <a href="https://tibcosoftware.github.io/TIBCO-LABS/" target="_blank">TIBCO LABS™</a> is a program designed to provide customers and partners with a mechanism for actively participating in TIBCO’s history of innovation.
  <br><br>
  TIBCO has always been at the forefront of innovation, and TIBCO LABS™ allows participants to share in this history by collaboratively building solutions to today’s challenging problems, previewing new capabilities, and accessing emerging technologies in areas such as blockchain, AI / ML and IoT. 
  <br><br>
  Through TIBCO LABS™, customers and partners can gain insight into TIBCO’s innovation activities, participate in shaping the form of these activities in the years to come, and benefit from TIBCO’s leadership position in integration and analytics.
  <br><br><br>

  <a href="https://tibcosoftware.github.io/TIBCO-LABS/" target="_blank"><img src="tibcolabs-brand.png" width="300px"></img></a>
</div>
  <div class="col py-5 px-md-5 bordered col-example">
    <a href="https://tibcosoftware.github.io/TIBCO-LABS/" target="_blank"><img src="TIBCO-Labs-final.png" width="300px"></img></a>
  </div>
</div>

<div class="mx-auto mt-5">
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/section >}}



{{% blocks/section %}}
## BSD 3-Clause License
<div>
Copyright © 2020 TIBCO Software Inc. <br><br>

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

3. Neither the name of TIBCO Software Inc. nor the names of any contributors
   may be used to endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT OWNER AND CONTRIBUTORS  "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</div>

{{% /blocks/section %}}
