html,
body,
#border,
#mod-container {
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    justify-self: center;
    align-items: center;
}
#mod-container {
    overflow-y: auto;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    cursor: default;
}

svg {
    display: block;
}

.rectangle {
    fill: #add8e6;
    stroke: #add8e6;
    fill-opacity: 0.3;
    stroke-opacity: 0.7;
    stroke-width: 2;
}

.settings-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    border: 1px solid currentColor;
    padding: 5px;
}

.icon-button {
    padding: 5px;
    position: absolute;
    top: 0;
    width: 31px;
    cursor: pointer;
    height: 31px;
    display: block;
}

.icon-button svg {
    display: block;
    width: 21px;
    height: 21px;
}

.hidden {
    display: none;
}

.settings {
    right: 0;
    color: #ccc;
}

.settings:hover {
    color: #ddd;
}