/*

Add styles or override variables from the theme here.

*/
// Theme colors


$primary: #062E79 !default;
$primary-light: lighten($primary, 75%) !default;

$secondary: #0da181 !default;
$secondary-light: lighten($secondary, 75%) !default;

#overview {
    border-bottom: 2px solid #b6d0ff;
    padding: 6em 1.5em 3em 1.5em;
    text-align: center;
    margin: 0; }
#overview p {
    font-size: 1.125em;}

.section-head {
    font-size: 1.25em;
    color: $primary;
    font-weight: bold;
    padding: 0 0 1em 0;
    }
      