* {
    box-sizing: border-box;
}

html,
body,
#border,
#plot-content,
#canvas-content {
    user-select: none;
    padding: 0;
    overflow: hidden;
}

#plot-content,
#canvas-content,
#x-axes,
#y-axes {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#content {
    display: grid;
    grid-template-columns: 50px auto 24px;
    grid-template-rows: 20px auto 30px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

#top-grid {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
}

#left-grid {
    position: relative;
    grid-column: 1;
    grid-row: 2;
}

#right-grid {
    position: relative;
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

#top-grid div,
#right-grid div {
    font-size: 14px;
    text-align: center;
    flex: 1 1 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 4px;
}

#right-grid div {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    margin: 4px 0;
}

#bottom-grid {
    position: relative;
    grid-column: 2;
    grid-row: 3;
}

#content-grid {
    position: relative;
    grid-column: 2;
    grid-row: 2;
}

#html-content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1px;
    height:100%;
    width:100%;
    background-color:#ccc;
    border: solid 1px #ccc
}

#html-content div
{
    /* TODO Set this via API */
    background-color:white;
}

.rectangle {
    fill: #add8e6;
    stroke: #add8e6;
    fill-opacity: 0.3;
    stroke-opacity: 0.7;
    stroke-width: 2;
}

.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-screen div {
    margin: 8px;
}

.full-screen button {
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    border: solid 1px black;
    cursor: pointer;
}

circle {
    cursor: pointer;
}

.icon-button {
    width: 16px;
    height: 16px;
    position: absolute;
    color: currentColor;
    opacity: 0.8;
}

.icon-button:hover {
    opacity: 1;
    cursor: pointer;
}

.settings {
    top: 8px;
    right: 8px;
    display: none;
}

.visible {
    display: block;
}

.hidden {
    display: none!important;
}