/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

html,
body,
#mod-container {
    margin-top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#mod-container {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#scale,
#canvas,
#x-title {
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: start;
}

.bar {
    border-bottom-width: 0;
    text-align: center;
    overflow: hidden;
    margin-right: 1px;
}

.bar:hover {
    border-color: currentColor;
}

.bar-label {
    position: absolute;
    top: -3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.segment {
    display: block;
    outline: none;
    outline-offset: -1px;
}

.segment-label {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

#x-title {
    text-align: center;
    cursor: pointer;
}

.x-title-label {
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

