/*
* Copyright © 2020. TIBCO Software Inc.
* This file is subject to the license terms contained
* in the license file that is distributed with this file.
*/

html,
body,
#mod-container {
    margin-top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#mod-container {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#scale,
#canvas,
#x-title {
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: start;
}

.selection {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    border: 1px solid #677085;
    background-color: rgba(0, 90, 230, 0.17);
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.selection-bg {
    visibility: hidden;
    position: absolute;
    background-color: rgba(200, 90, 230, 0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bar {
    border-bottom-width: 0;
    text-align: center;
    margin-right: 1px;
}

.bar:hover {
    border-color: currentColor;
}

.bar-label {
    position: absolute;
    top: -3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.segment {
    display: block;
    outline: none;
}

.segment-label {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

#x-title {
    text-align: center;
    cursor: pointer;
}

.x-title-label {
    text-align: center;
    line-height: 10px;
    font-size: 10px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

#settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    fill: #bdbfc3;
    transition: opacity 0.25s cubic-bezier(1, 0.28, 0, 0.94);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

#settings-icon:hover {
    fill: #858991;
}

