* {
    box-sizing: border-box;
}

html,
body,
#border,
#mod-container {
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    justify-self: center;
    align-items: center;
}
#mod-container {
    overflow-y: auto;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    cursor: default;
}

svg {
    display: block;
}

.rectangle {
    fill: #add8e6;
    stroke: #add8e6;
    fill-opacity: 0.3;
    stroke-opacity: 0.7;
    stroke-width: 2;
}

.settings-area {
    background: rgba(255, 255, 255, 0.75);
    color: #222;
    border-radius: 3px;
    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 3%), 0px 4px 6px 0px rgb(0 0 0 / 3%);
    position: absolute;
    left: 5px;
    right: 35px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.25s ease, opacity 0.25s ease;
    justify-content: flex-start;
    padding: 10px 10px 0 10px;
}

.settings-area span {
    margin-right: 10px;
    margin-bottom: 10px;
}

.input {
    border: 1px solid currentColor;
    padding: 5px;
}

.icon-button {
    padding: 5px;
    position: absolute;
    top: 0;
    width: 31px;
    cursor: pointer;
    height: 31px;
    fill: currentColor;
    display: block;
}

.icon-button svg {
    display: block;
    width: 21px;
    height: 21px;
}

.tucked-away {
    transform: translate(0, -120%);
    opacity: 0;
}

.hidden {
    display: none;
}

.settings {
    right: 0;
    color: #ccc;
}

.settings:hover {
    color: #ddd;
}

.gauge .value {
    stroke: transparent;
    stroke-width: 2px;
    transition: stroke 0.1s ease;
}

.gauge:hover .highlight {
    stroke: currentColor;
    pointer-events: none;
}