+++
title = "Spotfire® Mods"
linkTitle = "home"

+++

{{< blocks/cover title="Spotfire® Mods" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "docs/guides/getting-started/" >}}">
		Getting Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/TIBCOSoftware/spotfire-mods/">
		View on GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
	<h1 class="text-shadows">Create custom visualizations in TIBCO Spotfire</h1></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="dark" >}}
	
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Spotfire Mods by **TIBCO LABS™** 

Spotfire mods makes it quick and easy to create any kind of custom visualization.

{{% /blocks/lead %}}



{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-book" title="Getting Started" url="docs/guides/getting-started/" %}}
Follow the documentation, and start today!<br>
Here you find instructions on how to get started developing mods in Spotfire. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Tutorials" url="docs/tutorials/" %}}
Follow step-by-step guides on how to use the Spotfire Mods API.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-box-open" title="API Documentation" url="api-docs/" %}}
Browse and search the full API documentation.
{{% /blocks/feature %}}



<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="far fa-comments" title="Contact us!"  %}}
Please contact Magnus Rylander <a href="mailto:mrylande@tibco.com">(mrylande@tibco.com)</a> or Arnaud Varin <a href="mailto:avarin@tibco.com">(avarin@tibco.com)</a> to request access.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/hashtag/TIBCOLabs?f=live" %}}
For announcement of latest features etc...
{{% /blocks/feature %}}

{{< /blocks/section >}}

