+++
title = "Spotfire® Mods"
linkTitle = "home"

+++

{{< blocks/cover title="Spotfire® Mods" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "about/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/TIBCOSoftware/spotfire-mods/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
	<h1>Create custom visualizations in TIBCO Spotfire</h1></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="dark" >}}
	
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Spotfire Mods by **TIBCO LABS™** 

Spotfire mods makes it quick and easy to create any kind of custom visualization.

{{% /blocks/lead %}}



{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-book" title="Get Started" url="docs/getting-started/" %}}
Follow the documentation, and start today !<br>
Here you find instructions on how to get started developing mods in Spotfire. 
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-box-open" title="API Documentation" url="api-docs/" %}}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat, quos facilis possimus quidem voluptas accusamus, blanditiis officiis neque, asperiores dignissimos enim. Eaque fugiat consequuntur eveniet perferendis alias atque illo!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Tutorials" url="docs/tutorials/" %}}
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto voluptas animi tempora cupiditate saepe ducimus optio quae culpa quia magni. Ratione nam iure similique. Repellat alias reprehenderit incidunt voluptate commodi.
{{% /blocks/feature %}}

<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="far fa-comments" title="Contact us!" url="community/" %}}
Reach us for more details, or engage us today !
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/TIBCOSoftware/spotfire-mods" %}}
We do a [Pull Request](https://github.com/TIBCOSoftware/spotfire-mods/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/hashtag/TIBCOLabs?f=live" %}}
For announcement of latest features etc...
{{% /blocks/feature %}}

{{< /blocks/section >}}

