* {
    box-sizing: border-box;
}

html,
body,
#border,
#correlogram {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    padding: 0;
}

.rectangle {
    fill: #add8e6;
    stroke: #add8e6;
    fill-opacity: 0.3;
    stroke-opacity: 0.7;
    stroke-width: 2;
}

.full-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-screen div {
    margin: 8px;
}

.full-screen button {
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    border: solid 1px black;
    cursor: pointer;
}

.icon-button {
    width: 16px;
    height: 16px;
    position: absolute;
    color: currentColor;
    opacity: 0.8;
}

.icon-button:hover {
    opacity: 1;
    cursor: pointer;
}

.settings {
    top: 8px;
    right: 8px;
    display: none;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
